.text-center{
    color:#EE8431;
}
input[type="text"]
{
    color:red;
    width:300px;
    align-content: center;
}

ul{
    text-decoration: none;
    list-style: none;
}
ul li{
    background-color:white;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    border-left:solid orange 3px;
}
.task{
    width:40%;
    margin-left: 30%;
}
.button{
    border:none;
    background-color: white;
    cursor: pointer;
    float: right;
}

.strikethrough:checked + span{
    text-decoration:line-through;
    color:black;

  }

  
   
  

